---
import { IconArrowRight, IconPointFilled, IconStar } from "@tabler/icons-react"

export interface Props {
  owner: string
  repo: string
  language?: string
  languageColor?: string
  stars: number | string
  description?: string
  website?: string
}

const { owner, repo, language, languageColor, description, stars } = Astro.props
---

<div
  class="group relative flex flex-1 flex-col justify-between rounded-lg border bg-white p-5 shadow-lg dark:border-gray-700 dark:bg-gray-800"
>
  <a href={`/projects/${owner}-${repo}`} class="absolute inset-0"></a>
  <div class="mb-6">
    <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">
      {repo}
    </h3>
    <p class="text-sm">{description}</p>
  </div>
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-3">
      {
        language && (
          <div class="flex items-center gap-1 rounded-full border bg-gray-100 py-1 px-3 text-xs dark:border-gray-600 dark:bg-gray-700">
            <IconPointFilled size={16} style={{ color: languageColor }} />
            {language}
          </div>
        )
      }
      {
        stars !== 0 && (
          <div class="flex items-center gap-1 rounded-full border bg-gray-100 py-1 px-3 text-xs dark:border-gray-600 dark:bg-gray-700">
            <IconStar size={16} />
            {stars}
          </div>
        )
      }
    </div>
    <IconArrowRight
      className="translate-x-5 opacity-0 transition-all duration-100 group-hover:translate-x-0 group-hover:opacity-100 pointer-events-none"
    />
  </div>
</div>
