---
import { Markdown } from "astro-remote"
import Heading from "../../components/markdown/Heading.astro"
import RootLayout from "../../layouts/RootLayout.astro"
import ProjectLinks from "../../components/ProjectLinks.astro"
import type { Project } from "../../types"

export interface Props {
  website?: string
}

export const getStaticPaths = async () => {
  const projects = (await fetch(
    "https://gh-pinned.nxl.sh/api/user/roccomaniscalco"
  ).then((res) => res.json())) as Project[]

  return projects.map((project) => ({
    params: {
      owner: project.owner,
      repo: project.repo,
    },
    props: {
      website: project.website,
    },
  }))
}

const injectProjectLinks = (text: string): string => {
  const firstH1 = text.match(/^# (.*)$/m)?.[1]
  if (!firstH1) return text

  const h1EndIndex = text.indexOf(firstH1) + firstH1.length
  return `
    ${text.slice(0, h1EndIndex)}
    <ProjectLinks repoUrl="${repoUrl}" ${website && `website="${website}"`}/> 
    ${text.slice(h1EndIndex)} 
    `
}

const { owner, repo } = Astro.params
const { website } = Astro.props

const repoUrl = `https://github.com/${owner}/${repo}`
const projectReadmeText = await fetch(
  `https://raw.githubusercontent.com/${owner}/${repo}/main/README.md`
).then((res) => res.text())
---

<RootLayout>
  <main>
    <Markdown
      content={injectProjectLinks(projectReadmeText)}
      sanitize={{ allowComponents: true }}
      components={{
        Heading,
        ProjectLinks,
      }}
    />
  </main>
</RootLayout>
