---
import { IconBrandGithub, IconExternalLink } from "@tabler/icons-react"
import { Markdown } from "astro-remote"
import Heading from "../../components/markdown/Heading.astro"
import RootLayout from "../../layouts/RootLayout.astro"

type Project = {
  owner: string
  repo: string
  description?: string
  image: string
  website: string
  language?: string
  languageColor?: string
  stars: number | string
  forks: string
}

export interface Props {
  website: string
}

export async function getStaticPaths() {
  const projects = (await fetch(
    "https://gh-pinned.nxl.sh/api/user/roccomaniscalco"
  ).then((res) => res.json())) as Project[]

  return projects.map((project) => ({
    params: {
      owner: project.owner,
      repo: project.repo,
    },
    props: {
      website: project.website,
    },
  }))
}

// params should always be defined, because if they are not, it will be a 404
const { owner, repo } = Astro.params
const { website } = Astro.props

const repoUrl = `https://github.com/${owner}/${repo}`
const projectReadmeText = await fetch(
  `https://raw.githubusercontent.com/${owner}/${repo}/main/README.md`
).then((res) => res.text())
---

<RootLayout>
  <main class="mt-16">
    <h2
      class="mb-6 max-w-[29ch] break-words text-4xl font-bold text-gray-900 dark:text-white"
      id="projects"
    >
      {repo}
    </h2>
    <div class="mb-16 flex flex-row gap-3">
      <a
        class="text-gray flex flex-1 items-center justify-center gap-2 rounded-lg border bg-white p-3 text-sm shadow-lg hover:underline dark:border-gray-700 dark:bg-gray-800"
        href={repoUrl}
      >
        <IconBrandGithub size={16} />
        <span>View on github</span>
      </a>
      {
        website && (
          <a
            class="text-gray flex flex-1 items-center justify-center gap-2 rounded-lg border bg-white p-3 text-sm shadow-lg hover:underline dark:border-gray-700 dark:bg-gray-800"
            href={website}
          >
            <IconExternalLink size={16} />
            <span>Visit Website</span>
          </a>
        )
      }
    </div>

    <Markdown
      content={projectReadmeText}
      components={{
        Heading,
      }}
    />
  </main>
</RootLayout>
